body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
  overflow: hidden;
}

.app {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 50px;
  background-color: #bac1d1;
}


.app_box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  min-height: 500px;
  max-width: 700px;
  background-color: whitesmoke;
}

@media (max-width: 960px) {
  .app {
    width: 100vw;
    height: 100vh;
    padding: 0;
  }

  .app_box {
    max-width: 100%;
  }
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */
.container_header {
  flex-direction: column;
  height: 150px;
  background: url(https://yourthings.herokuapp.com/static/media/bg.377c597d.jpg) center no-repeat;
  background-size: cover;
  padding: 30px;
  font-size: 50px;
  color: aliceblue;
  text-align: center;
}

.info_task_p {
  margin-top: -30px;
  font-size: 0.5em;
}

.info_task_span {
  display: inline-block;
  font-size: 40px;
}

/* addNewTodo */

.container_addTask {
  flex-wrap: wrap;
  padding: 20px;
  height: 70px;
}

.add_task_input {
  width: 50%;
}

.add_task_input input {
  width: calc(100% - 40px);
  border-radius: 5px;
  border: 1px solid #eee;
  transition: .3s border-color;
  display: block;
  margin: 10px 0;
  padding: 10px;
}

.add_task_input input:hover {
  border: 1px solid #aaa;
}

.add_task_btn {
  width: 80px;
  margin-right: 10px;
}

.add_task_btn button {
  padding: 10px;
  border: none;
  background-color: #3F51B5;
  color: #fff;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
}

.add_task_btn button:active {
  background-color: #2f3c86;
}

.form_radio_btn {
  background-color: white;
  display: inline-block;
  margin-right: 10px;
  border-radius: 5px;
}

.form_radio_btn:last-child {
  margin-right: 0
}

.form_radio_btn input[type=radio] {
  display: none;
}

.form_radio_btn label {
  display: inline-block;
  cursor: pointer;
  padding: 0px 10px;
  line-height: 35px;
  border: 1px solid lightgray;
  border-radius: 6px;
  user-select: none;
}

.form_radio_btn input[type=radio]:checked+label {
  color: white;
  background: #3F51B5;
}

.form_radio_btn label:hover {
  border-color: #aaa;
}

/* todoList */

.container_todoList {
  align-items: flex-start;
  overflow: auto;
  margin-top: 10px;
}

/* ul */

.list_todo {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.row {
  list-style: none;
  padding: 15px;
  /* padding-left: 0; */
  border-bottom: 1px solid rgb(197, 197, 197);
}

.row_container {
  display: flex;
}

/* checkbox and del-btn*/

.checkbox_btn,
.delete_btn {
  flex-basis: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* custom checbox */

.btn_check {
  position: absolute;
  z-index: -1;
  opacity: 0;
}


.btn_check+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
  cursor: pointer;
  margin-right: 15px;
  margin-bottom: 5px;
}

.btn_check+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #adb5bd;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}


.btn_check:not(:disabled):not(:checked)+label:hover::before {
  border-color: rgb(136, 136, 136);
}

.btn_check:checked+label::before {
  border-color: #3F51B5;
  background-color: #3F51B5;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}

/* task */

.todo {
  flex-basis: 80%;
  margin-left: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

/* completed task */
.checked {
  text-decoration: solid line-through #db7d76 0.2em;
}

/* drag and drop */
.text_todo {
  max-width: 100%;
  word-break: break-all;
  padding-bottom: 5px;
}

.move_task {
  cursor: grab;
  margin-right: 15px;
}

.spinner {
  text-align: center;
  margin-top: 50px;
}

/* spinner loading */
.spinner__animation {
  display: inline-block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border-top: 3px solid rgba(0, 0, 0, 0.1);
  border-right: 3px solid rgba(0, 0, 0, 0.1);
  border-bottom: 3px solid rgba(0, 0, 0, 0.1);
  border-left: 3px solid rgb(129, 138, 145);
  animation: loading-spinner 0.5s infinite linear;
}

.spinner__info {
  display: block;
  padding-top: 5px;
  color: rgb(129, 138, 145);
  font-size: .9rem;
}

@keyframes loading-spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* error message */
.error {
  border: 1px solid;
  border-left: none;
  border-right: none;
  text-align: center;
  margin-top: 40px;
  padding: 15px;
  color: #D8000C;
  background: #FFBABA url(./img/pngwing.com.png) no-repeat 10%;
  background-size: 50px;
}